@charset "UTF-8";

#logo {
	width: 250px;
}

img {
	width: 100%;
}

nav {
	background-color: black;
	color: white;
	text-decoration: none;
}

nav ul{
	margin: 0px;
	padding-left: 10px;
	display: flex;
	justify-content: flex-start;
	list-style-type: none;
}

nav ul li{
	padding: 10px
}

nav a{
	text-decoration: none;
	color: white;
}

.label {
	width: 500px;
}

#er {
	color: red;
}

#surv {
	text-align: left;
}

#surv td:nth-child(odd){
	width: 200px;
}

#day1 {
	background-color: blue;
}

#day2, #day3, #day4, #day5{
	background-color: red;
}